[submodule "lab"]
	path = lab
	url = git@github.ibm.com:watson-labs-austin/lab-plugins.git
[submodule "pcl/lib/eigen"]
	path = pcl/lib/eigen
	url = git@github.com:RLovelett/eigen.git
[submodule "pcl/lib/pcl"]
	path = pcl/lib/pcl
	url = git@github.com:PointCloudLibrary/pcl.git
