[submodule "lab"]
	path = lab
	url = git@github.ibm.com:watson-labs-austin/lab-plugins.git
[submodule "pcl/lib/pcl"]
	path = pcl/lib/pcl
	url = git@github.com:PointCloudLibrary/pcl.git
[submodule "pcl/lib/flann"]
	path = pcl/lib/flann
	url = https://github.com/mariusmuja/flann